.email-row {
  position: relative;
  gap: 0px 10px;
  border-bottom: 1px solid var(--border-gray);
  /* position: relative; */
  font-size: 14px;
  position: relative;
}
/* .email-row:last-child {
  border-bottom: 1px solid var(--border-gray);
} */
.email-row:hover {
  cursor: pointer;
}
.email-row:hover::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* width: 100%; */
  border: 1px solid lightgray;
  z-index: 44;
  box-shadow: 0 1px 4px -3px rgba(0, 0, 0, 0.74);
}
.email-row__title {
  /* position: absolute;
  left: 50px; */
  min-width: 150px;
}
/* .email-row__message {
  position: absolute;
  left: 250px;
} */
.email-row__message > h4 {
  /* width: 100%; */
  width: 400px;
  /* min-width: 200px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* padding: 0 5px; */
  /* margin-right: 80px; */
}
.email-row__message > h4 > span {
  font-weight: normal;
}
.email-row__time {
  position: absolute;
  right: 20px;
  justify-self: center;
}
