.email-list {
  /* width: 100%; */
  flex: 1;
  /* background-color: rgb(245, 245, 245); */
  height: calc(100vh - 65px);
  overflow-y: scroll;
}
.email-list__settings {
  margin: 0 15px 0 0 !important;
  padding: 0 15px 0 10px;
}
.email-list__sections {
  position: sticky;
  top: -1px;
}
