.email-list__section {
  flex: 1;
  max-width: 200px;
  gap: 15px;
  text-transform: capitalize;
  cursor: pointer;
  background-color: #fff;
  padding: 10px;
  color: rgb(78, 78, 78);
}
.section--selected {
  background-color: whitesmoke;
  border-width: 3px !important;
}
.email-list__section:hover {
  background-color: whitesmoke;
  /* border-width: 3px !important; */
}
