.send-mail {
  position: absolute;
  bottom: 0;
  right: 50px;
  background-color: white;
  width: 40%;
  max-width: 500px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  flex-direction: column;
  z-index: 50;
}
.send-mail__header {
  color: white;
  background-color: #404040;
  border-radius: inherit;
  cursor: pointer;
}
.send-mail__options--icons {
  color: lightgray;
}
.pl15 {
  padding-left: 15px;
}
.mail-form {
  flex-direction: column;
  flex: 1;
  padding-bottom: 15px;
}
.mail-form input {
  outline: none;
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
  height: 20px;
}
.mail-form input::placeholder {
  font-size: 14px;
}
.mail-form__input--large {
  padding: 15px 10px 25px 0;
  font-size: 13px;
  border: none;
  outline: none;
  resize: none;
}
.mail-form__input--large:focus {
  border: none;
  outline: none;
}
.input-required::placeholder {
  color: red;
}
