:root {
  --border-gray: rgb(238, 238, 238);
}
.df {
  display: flex;
}
.jcc {
  justify-content: center;
}
.jcsb {
  justify-content: space-between;
}
.aic {
  align-items: center;
}
.app {
  height: 100vh;
}
input {
  all: unset;
}
.rotated-180 {
  transform: rotate(180deg);
}
.loading {
  margin: 0 auto;
  padding: 5px;
  width: fit-content;
  background-color: rgba(248, 189, 39, 0.555);
  border: 1px solid rgba(17, 16, 13, 0.555);
}
